<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911738260961-slv0o0e63qon0c68r6lbhd57m3591mi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911738260961-slv0o0e63qon0c68r6lbhd57m3591mi8</string>
	<key>API_KEY</key>
	<string>AIzaSyBwqKVuax0pnG7C_JFd8vWeHzWtSVflKP4</string>
	<key>GCM_SENDER_ID</key>
	<string>911738260961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliaczaplejewicz.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait330</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911738260961:ios:daf12b57f448556bd9d6a0</string>
</dict>
</plist>